@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
        @apply w-screen h-screen bg-slate-800 text-white
    }

    #__next{
        @apply w-full h-full p-20 flex justify-center items-center
    }

    /* GLOBAL ELEMENTS */
    
    h1 {
        @apply text-xl lg:text-4xl xl:text-4xl text-slate-100 font-sans
    }

    h2 {
        @apply text-lg lg:text-3xl xl:text-3xl
    }

    h3 {
        @apply text-base lg:text-2xl xl:text-2xl
    }

    p {
        @apply text-sm lg:text-base xl:text-xl
    }

    span {
        @apply text-sm lg:text-base xl:text-xl
    }

    a {
        @apply text-sm lg:text-base xl:text-xl font-mono
    }

    .main-wraped {
        @apply w-1/2 h-full py-6 px-10 bg-slate-600 rounded-lg
        flex flex-col items-center
    }

    .dash-wraped {
        @apply w-3/4 h-full py-6 px-10 bg-slate-600 rounded-lg
        flex justify-start items-start
    }

    .shorter-nav {
        @apply w-full h-auto py-2 flex justify-start items-center

    }

    .shortener-form {
        @apply w-4/5 flex flex-col justify-center items-center space-y-6
        mt-12
    }

    .input-text {
        @apply w-full h-auto mt-24 relative text-black
    }

    .input-text input {
        @apply w-full h-12 px-12 border border-gray-200 rounded-md 
        focus:outline-none focus:shadow-sm
        focus:ring-2 ring-pink-700 
    }

    .input-text label {
        @apply absolute top-0 left-0 h-full p-3 
    }

    .btn-primary {
        @apply w-32 h-auto px-4 py-2 text-base lg:text-xl text-slate-900
        border border-slate-900 rounded-md bg-slate-100
        hover:border-none hover:bg-pink-700 hover:text-slate-100
        transition ease-in-out duration-300 self-end active:text-cyan-300
    }

    .btn-login {
        @apply w-1/2 text-left self-start hover:text-pink-300
        hover:underline text-2xl active:text-cyan-300
    }

    .shortener {
        @apply w-4/5 h-1/3 mt-20 py-4 px-12 border border-slate-200 
        rounded-lg text-xl text-center flex justify-center items-center
    }

    .temp-checkbox {
        @apply appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white 
        checked:bg-pink-700 checked:border-none focus:outline-none text-white
        transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left 
        mr-2 cursor-pointer
    }

    .erro-msg {
        @apply py-2 text-pink-400 tracking-wide text-lg
    }

    .login-form {
        @apply w-full h-full flex flex-col justify-start
    }

    .url-list {
        @apply w-full h-full space-y-4
    }

    .url-item {
        @apply w-full flex px-8 py-4 border border-slate-300
        rounded-lg
    }

    .btn-remove {
        @apply hover:text-pink-300 active:text-cyan-300
    }
}